* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'helvetic neue';
  
}
html,
body {
  
  height: 100%;
  width: 100%;
  
}

.parent{
  min-height:100vh;
  width:100%;
  background-color: rgb(101, 90, 90);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  align-items: flex-start;
  
}

.card{
  height:350px;
  width:300px;
  border-radius: 30px;
  background-color: white;
  border-top: 10px solid #dadada;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  position: relative;
  flex-shrink: 0;
}


.bookmark-btn{
  position: absolute;
  top: 15px;
  right: 15px;

  background: white;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}

.companyname{
  padding:20px
}

.price{
  font-family:Arial, Helvetica, sans-serif;
  padding:21px;
}

.centre{
  position: absolute;
  background: rgb(239, 233, 233);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-top: 10px;
  left:10px;

  
}

.centre3{
  position: absolute;
  background: rgb(250, 249, 249);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding-top: 10px;
  left:10px;

  
}
.arrow{
  position: absolute;
  right: -250px;        /* push arrow after text */
  top: 60px;            /* vertical center of text block */
  
  
}



.divider{
  height: 1px;
  background-color: #dadada;
}

.bottom-logo img {
  width: 60px;      /* adjust size */
  height: auto;     /* keep aspect ratio */
  position:absolute;
  top:300px;
  left:20px;
}

.bottom-text{
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
  top:305px;
  right:90px;
}

.view {
  position:absolute;
  font-family: Arial, Helvetica, sans-serif;
  height: 25px;
  width: 45px;
  top: 300px;
  right:20px;
  background-color: black;
  border-radius: 50px;
}

.view-content{
  
  position:absolute;
  top:5px;
  left:7px;
  color:white;
  
}

